<!-- The content below is only a placeholder and can be replaced. -->
<!-- Button trigger modal -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <button mat-button>Basic</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>
<a mat-button routerLink=".">Link</a> -->
<div 
  class="modal fade"
  id="exampleModalCenter" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="exampleModalCenterTitle" 
  aria-hidden="true"
  data-keyboard="false" 
  data-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Results</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="isLoaded && !errResponse">
          <div *ngFor="let res of results">
            <p>From:{{ origin }} {{ originFull }}</p>
            <p>Destination: {{ res.destination }}</p>
            <p>Company name: {{ res.airline }}</p>
            <p>Cost: {{ res.price }} {{currency}}</p>
            <p>Date: {{ res.departure_date }}</p>
            <hr/>
          </div>
        </div>
      </div>
      <div *ngIf="!isLoaded">
        <p>Loading...</p>
      </div>
      <div class="modal-body modal-body-noData" *ngIf="errResponse">
        <p>No matches found</p>
        <p>Try changing search criteria</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-button btn btn-secondary" data-dismiss="modal" (click)="modalClose()">Close</button>
        <button type="button" class="modal-button btn btn-info" (click)="printPage()" [disabled]="true">Print results</button>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h1 class="display-4">Search</h1>
  <p class="lead">Here you can start your search</p>
  <hr class="my-4">
  <div class="form">
    <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)" autocomplete="off">

      <div class="form-group">
        <div class="input-group mb-6">
          <div class="input-group-prepend">
            <span class="input-group-text">From</span>
          </div>
          <input type="text" class="form-control" name="from" placeholder="..." required (keyup)="keyPress($event, true)" ngModel="{{selectedFrom}}">
          <select class="form-control"  (change)="onSelectFrom($event)">
            <option *ngFor="let res of dynResultsFrom">{{ res.label }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group mb-6">
          <div class="input-group-prepend">
            <span class="input-group-text">To</span>
          </div>
          <input type="text" class="form-control" name="to" placeholder="..." required (keyup)="keyPress($event)" ngModel="{{selectedTo}}">
          <select class="form-control"  (change)="onSelectTo($event)">
            <option *ngFor="let res of dynResultsTo">{{ res.label }}</option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group">
        <div class="input-group mb-6">
          <div class="input-group-prepend">
            <span class="input-group-text">From</span>
          </div>
          <input type="text" class="form-control" name="from" placeholder="..." required ngModel="thisssj">
        </div>
      </div> -->
      <!-- <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">To</span>
          </div>
          <input type="text" class="form-control" name="to" placeholder="..." required ngModel>
        </div>
      </div> -->
      <div class="form-group">
        <div class="input-group mb-6">
          <div class="input-group-prepend">
            <span class="input-group-text">Date</span>
          </div>
          <input type="date" class="form-control" name="date" required ngModel>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModalCenter" [disabled]="!searchForm.form.valid">
        Submit
      </button>
    </form>
  </div>
</div>
