
.mat-icon {
    vertical-align: bottom;
    margin-right: 15px;
}
.card {
    top: 20vh;
    margin: 0 auto;
    max-width: 80%;
}

.mat-card-content>:first-child, .mat-card>:first-child {
    margin-top: 15px;
}

.mat-stepper-horizontal {
    margin-top: 65px;
}

.summary-card {
    padding-top: 1px;
    background-color: #f6f6f6;
    margin-bottom: 20px;
}

.mat-form-field {
    width: 450px;
}

.mat-option {
    font-size: 14px;
}

input.mat-input-element {
    font-size: 14px;
}

.mat-list {
    margin-bottom: 20px;
}

button {
    outline: none;
}

.mat-spinner {
    margin: 0 auto;
}
