<!-- The content below is only a placeholder and can be replaced. -->


<mat-card class="card">
  <mat-card-header>
    <mat-card-title><h2>Flight search</h2></mat-card-title>
    <mat-card-subtitle>Here you can start your search</mat-card-subtitle>
  </mat-card-header>
  <mat-progress-bar *ngIf="!spinner"></mat-progress-bar>
  <mat-progress-bar *ngIf="spinner" mode="indeterminate"></mat-progress-bar>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="fromForm">
      <form [formGroup]="fromForm">
        <ng-template matStepLabel>Fill out origin</ng-template>
        <mat-form-field>
          <input matInput placeholder="from" formControlName="from" (keyup)="keyPress($event)" [matAutocomplete]="from" spellcheck="false">
          <mat-autocomplete #from="matAutocomplete">
            <!--<mat-option *ngIf="dynResults.length == 0">No matches found</mat-option>-->
            <mat-option *ngFor="let res of dynResults" [value]="res.label" (click)="activeNext = true">
              {{res.label}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div>
          <button mat-button color="primary" matStepperNext (click)="clearDyn()" [disabled]="!activeNext">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="toForm">
      <form [formGroup]="toForm">
        <ng-template matStepLabel>Fill out destination</ng-template>
        <mat-form-field>
          <input matInput placeholder="to" formControlName="to" (keyup)="keyPress($event)" [matAutocomplete]="to" spellcheck="false">
          <mat-autocomplete #to="matAutocomplete">
            <!--<mat-option *ngIf="dynResults.length == 0">No matches found</mat-option>-->
            <mat-option *ngFor="let res of dynResults" [value]="res.label" (click)="activeNext = true">
              {{res.label}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious (click)="activeNext = true">Back</button>
          <button mat-button matStepperNext [disabled]="!activeNext">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="dateForm">
      <form [formGroup]="dateForm">
        <ng-template matStepLabel>Fill out date</ng-template>
        <mat-form-field>
          <input matInput placeholder="date" formControlName="date" [matDatepicker]="picker" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <mat-card class="summary-card">
        <mat-card-content>
          <p><mat-icon>flight_takeoff</mat-icon> {{ this.fromForm.value.from }}</p>
          <p><mat-icon>flight_land</mat-icon> {{ this.toForm.value.to }}</p>
          <p><mat-icon>event</mat-icon> {{ this.dateForm.value.date }}</p>
        </mat-card-content>
      </mat-card>
      <div>
        <button mat-button matStepperPrevious >Back</button>
        <button mat-button (click)="stepper.reset()" color="warn">Reset</button>
        <button mat-button type="submit" color="primary" (click)="onSubmit(stepper)">Search</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>

<!-- <mat-spinner *ngIf="spinner" class="spinner"></mat-spinner> -->
