button {
    outline: none;
}

.modal-header::children {
 display: inline-block;
}

.mat-dialog-content {
    max-height: 47vh;
}

h3 {
    margin-bottom: 20px;
}

.mat-icon {
    font-size: 36px;
    /* vertical-align: text-top; */
    margin-right: 15px;
}